<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MVCDemo</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.apcon.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getviewData</display-name>
    <servlet-name>getviewData</servlet-name>
    <servlet-class>com.apcon.controller.getviewData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getviewData</servlet-name>
    <url-pattern>/getviewData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addData</display-name>
    <servlet-name>addData</servlet-name>
    <servlet-class>com.apcon.controller.addData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addData</servlet-name>
    <url-pattern>/addData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteData</display-name>
    <servlet-name>deleteData</servlet-name>
    <servlet-class>com.apcon.controller.deleteData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteData</servlet-name>
    <url-pattern>/deleteData</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <description></description>
    <display-name>updateData</display-name>
    <servlet-name>updateData</servlet-name>
    <servlet-class>com.apcon.controller.updateData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateData</servlet-name>
    <url-pattern>/updateData</url-pattern>
  </servlet-mapping>
</web-app>